{{- /* Footer custom content area start */ -}}
<div style="margin-top: 1em; margin-bottom: 1em; max-width: 800px; margin-left: auto; margin-right: auto;">
    <div>
        <h4 style="margin-bottom: 0.5em; color: #666;">关于本站</h4>
        <div style="display: flex; align-items: center; gap: 0.3em; font-size: 14px;">
            <a href="/zh/privacy">隐私政策</a>
            <span style="margin: 0 0.3em;">|</span>
            <a href="/zh/about">联系我们</a>
        </div>
    </div>
    <div style="margin-top: 1em;">
        <h4 style="margin-bottom: 0.5em; color: #666;">友情链接</h4>
        <div style="display: flex; flex-wrap: wrap; align-items: center; gap: 0.3em; font-size: 14px;">
            <a href="https://memora.top" target="_blank" rel="noopener noreferrer">Memora</a>
            <span style="margin: 0 0.3em;">|</span>
            <a href="https://twittervideoindir.com" target="_blank" rel="noopener noreferrer">Download Twitter Video</a>
            <span style="margin: 0 0.3em;">|</span>
            <a href="https://blackscreennow.space" target="_blank" rel="noopener noreferrer">Black Screen Tool</a>
            <span style="margin: 0 0.3em;">|</span>
            <a href="https://crazykids.tech" target="_blank" rel="noopener noreferrer">乘风客的分享</a>
            <span style="margin: 0 0.3em;">|</span>
            <a href="https://brat-gen.com" target="_blank" rel="noopener noreferrer">Brat Generator</a>
            <span style="margin: 0 0.3em;">|</span>
            <a href="https://timestamps.top" target="_blank" rel="noopener noreferrer">Unix Timestamp Converter</a>
        </div>
    </div>
</div>
{{- /* Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}